<%# form_for(setup_user(user)) do |f| %>
<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :address do |ff| %>
  <div class="field">
    <%= ff.label :city %>
    <%= ff.text_field :city %>
    <%= ff.label :_destroy, "Remove Address" %>
    <%= ff.check_box :_destroy %>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h3>Import Addresses</h3>
<%= form_tag import_users_path(:user_id => user.id), multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Address" %>

<% end %>
